@font-face {
  font-family: enigma;
  src: url("Enigma.ttf");
}

.pokemon {
  display: inline-block;
  text-align: center;
  margin: 10px;
  font-family: enigma;
  font-weight: 100;
}
.pokemon img {
  display: block;
}

h1 {
  font-weight: lighter;
  text-align: center;
}
